<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workplace</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/connection.js"></script>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg bg-body-secondary">
            <div class="container justify-content-between">
                <ul class="navbar-nav text-white">
                    <a class="navbar-brand" href="/">Decentralized Computational Resource Sharing Platform</a>
                    <li class="nav-item ms-5">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/workplace">Workplace</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Registration Modal -->
        <div class="modal fade" id="registerModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Registration</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="registrationForm" onsubmit="connectAccount(event)">
                    <div class="modal-body">
                        <h6>Select role:</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" id="provider" value="provider" required>
                            <label class="form-check-label" for="provider">Provider</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" id="renter" value="renter" required>
                            <label class="form-check-label" for="renter">Renter</label>
                        </div>
                    </div>
                    <div class="d-flex modal-footer justify-content-between">
                        <input id="rgbtn" type="submit" class="form-control text-bg-primary" value="Register" style="width: 80px;" data-bs-dismiss="modal">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
              </div>
            </div>
        </div>
    </header>
    
</body>
</html>
